page-home {
    #btn_chat{
        background-color: #8bbd2c;
        color: #FFF;
        border-radius: 50%;
        width: 32px;
        height: 32px;
        font-weight: bold;
    }

    #background_image{
        background-image: url("../assets/imgs/home.png");
        background-size: 100% 100%;
    }
}
